<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<h1>Add book</h1>
<div>
	<table>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<tr>
				<th><label for="title">Title</label></th>
				<td><input type="text" id="title" th:field="*{title}" /></td>
			</tr>
			<tr>
				<th><label for="author">Author</label></th>
				<td><input type="text" id="author" th:field="*{author}" /></td>
			</tr>
			<tr>
				<th><label for="publicationYear">Year</label></th>
				<td><input type="number" th:field="*{publicationYear}" /></td>
			</tr>
			<tr>
				<th><label for="isbn">ISBN</label></th>
				<td><input type="text" id="isbn" th:field="*{isbn}" /></td>
			</tr>
			<tr>
				<th><label for="price">Price</label></th>
				<td><input type="number" id="price" th:field="*{price}" /></td>
			</tr>
			<tr>
				<td><input class="btn btn-success" type="submit" value="Save"></input></td>
			</tr>
		</form>
	</table>
</div>

    <div>
		<a href="/booklist">
			<button class="btn btn-primary">Back to booklisting</button>
			</a>
	</div>
</head>
</html>
