<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<div class="col-md-4">
	Username: <span  sec:authentication="name">Name</span>
	
</div>
<div class="col-md-4" style="padding:20px 0">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
	</form>
</div>
<h1>Books</h1>
<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Author</th>
        <th>Year</th>
        <th>ISBN</th>
        <th>Price</th>
		<th>Category</th>
        
	</tr>
	<tr th:each="book : ${books}">
		<td th:text="${book.id}"></td>
		<td th:text="${book.title}"></td>
		<td th:text="${book.author}"></td>
		<td th:text="${book.isbn}"></td>
        <td th:text="${book.price}"></td>
		<td th:text="${book.publicationYear}"></td>
		<td th:text="${book.category.name}"></td> <!-- tämä kaataa ohjelman -->
		<td><a th:href="@{/edit/{id}(id=${book.id})}"> 
			<button class="btn btn-primary">Edit</button>
		</a></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}">
			<button class="btn btn-danger">Delete</button>
		</a></td>
	</tr>
	</table>
	<div>
		<a href="/add">
			<button class="btn btn-primary">Add book</button>
		</a>
	</div>
</body>
</html>
